navbar
{% load static %}
<img src="{% static 'img/logo.png' %}" alt="logo" width="110" onclick="speak()">
{% if user.is_authenticated %}
    {{ user }}
    <a href="{% url 'home' %}">home </a>
    <a href="{% url 'accounts:logout' %}">logout</a>
    <a href="{% url 'accounts:profile' %}">profile</a>
    <a href="{% url 'accounts:profile_edit' %}">edit profile</a>
    <a href="{% url 'accounts:change_password' %}">change password</a>
{% else %}
    <a href="{% url 'home' %}">home </a>
    <a href="{% url 'accounts:login' %}">login</a>
    <a href="{% url 'accounts:register' %}">register</a>
    <a href="{% url 'accounts:password_reset' %}">reset password</a>
{% endif %}

<br>
<hr>