{% extends 'base.html' %}
{% block content %}
    <h2> edition profile de {{ user.username }} </h2>
    username : {{ user.username }}<br>
    email : {{ user.email }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ userform.as_p }}
        {{ profileform.as_p }}
        <!-- Image -->
        <div class="form-group image-group" id="id_image_group">
            <img class="img-fluid image" src="{{ profileform.initial.image.url }}" id="id_image_display" width="350"
                 alt="">
            <div class="middle">
                <div class="text">Change image</div>
            </div>
        </div>
        <input type="file" name="image" id="id_image_file" accept="image/*" onchange="readURL(this)">
        <input type="submit" class="btn btn-primary" value="update du profile">
    </form>



    <style type="text/css"> <!--  -->
        .image {
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        .image-group {
            position: relative;
            text-align: center;
            cursor: pointer;
        }

        .image-group:hover .image {
            opacity: 0.3;
        }

        .image-group:hover .middle {
            opacity: 1;
        }

        .text {
            margin: auto;
            background-color: #4CAF50;
            color: white;
            font-size: 15px;
            padding: 15px;
        }
    </style><!-- style pour image et son button -->

    <script type="text/javascript">
        document.getElementById('id_image_group').onclick = function (event) {
            document.getElementById('id_image_file').click();
        };

        function readURL(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#id_image_display')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script><!-- script pour image et son button -->
{% endblock %}



