{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success"><h1 class="text-center">{{ message }}</h1></div>
        {% endfor %}
    {% endif %}

    <h3>profile</h3>
<p><strong>données issus de user ___________________</strong></p>
<h1>{{ user.email }}</h1>
{{ profile.user.email }} <br><!--pour accéder au field de user qui est relié au profile -->
{{ profile.user.first_name }} <br><!--pour accéder au field de user qui est relié au profile -->
{{ profile.user.last_name }} <br><!--pour accéder au field de user qui est relié au profile -->

<p><strong>données issus de profile ___________________</strong></p>

{{ profile.user }}<br>  <!--pour accéder au field de profile -->
{{ profile.phone }}<br> <!--pour accéder au field de profile -->
{{ profile.address }} <br>  <!--pour accéder au field de profile -->
<img src = "{{ profile.image.url }}" alt="" width="100"><!--pour accéder au field de profile -->

{% endblock %}