<!DOCTYPE html>
<html lang="en">

<head>
    {% include "snippets/header.html" %}
    <title>Title</title>
    <style type="text/css"> {# agrandir body pour que footer soit toujours en bas #}
    .main {
        min-height: 100vh;
        height: 100%;
    }
    </style><!-- agrandir body 'main' pour que footer soit toujours en bas -->

</head>

<body>
    {% include "snippets/navbar.html" %}
    <div class="main">{% block content %}{% endblock content %}</div>

</body>

<footer>
    {% include "snippets/footer.html" %}
    {% block javascript %}{% endblock javascript %}
</footer>

</html>