{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>reset password</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'accounts/snippets/field_pw.html' with field=form.new_password1 f_onfocusout="validateNewPassword1ChangePw()" %}<!--field new_password1 -->
        {% include 'accounts/snippets/field_pw.html' with field=form.new_password2 f_onfocusout="validateConfirmPasswordChangePw()" %}<!--field new_password2 -->
        <button type="submit" class="btn btn-danger">reset password</button>
    </form>
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}?{% now "U" %}">
{% endblock %}
{% block javascript %}
    <script src="{% static 'accounts/js/register.js' %}"></script>
    {#    hide and show password#}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
        {#id_new_password1#}
        const eye2 = document.getElementById("ideye_new_password1");
        const eyeoff2 = document.getElementById("ideyeoff_new_password1");
        const password2 = document.getElementById("id_new_password1");
        eye2.addEventListener("click", () => {
            eye2.style.display = "none";
            eyeoff2.style.display = "block";
            password2.type = "text";
        });
        eyeoff2.addEventListener("click", () => {
            eyeoff2.style.display = "none";
            eye2.style.display = "block";
            password2.type = "password";
        });
        {#id_new_password2#}
        const eye3 = document.getElementById("ideye_new_password2");
        const eyeoff3 = document.getElementById("ideyeoff_new_password2");
        const password3 = document.getElementById("id_new_password2");
        eye3.addEventListener("click", () => {
            eye3.style.display = "none";
            eyeoff3.style.display = "block";
            password3.type = "text";
        });
        eyeoff3.addEventListener("click", () => {
            eyeoff3.style.display = "none";
            eye3.style.display = "block";
            password3.type = "password";
        });
    </script>
{% endblock javascript %}