{% extends 'base.html' %}
{% block content %}
    <h2>reset password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">reset password  </button>
    </form>
{% endblock %}
{% block javascript %}
{# password same or not #}
    <script>
        password1 = document.getElementById('id_new_password1');
        password2 = document.getElementById('id_new_password2');
        message = document.createElement("span");
        message.id = 'message';
        message.classList.add('classe_message');
        message2 = message.cloneNode(true);
        password1.parentNode.appendChild(message);
        password2.parentNode.appendChild(message2);
        $('#id_new_password1, #id_new_password2').on('keyup', function () {
            if ($('#id_new_password1').val() === $('#id_new_password2').val()) {
                $('#message,classemessage').html('password same').css('color', 'green');
            } else {# password same or not #}
                $('#message,classemessage').html('password not same').css('color', 'red');
        });
    </script> {# password same or not #}
<style>.classe_message {background-color: #2affb5;}</style>

    <script>{#  validate password1 #}
    const pass1ele = $('#id_new_password1');
    const spanvalpss1 = '<span style="color: #ded648" id="id_spanvalpss1"></span>';
    pass1ele.after(spanvalpss1);
    const passMsg1 = $('#id_spanvalpss1');
    pass1ele.keyup(function () {
        if (validatePassword()) {
            pass1ele.css("border", "2px solid green");
            passMsg1.html("<p class='text-success'>Password validated</p>");
        } else {
            pass1ele.css("border", "2px solid red");
            passMsg1.html("<p class='text-danger'>Password not valid</p>");
        }
    });

    function validatePassword() {
        const pass1Val = pass1ele.val();
        return pass1Val.length > 7;
    }
    </script>{#  end validate password1 #}

    <script>{#  validate password2 #}
    const pass2ele = $('#id_new_password2');
    const spanvalpss2 = '<span style="color: #ded648" id="id_spanvalpss2"></span>';
    pass2ele.after(spanvalpss2);
    const passMsg2 = $('#id_spanvalpss2');
    pass2ele.keyup(function () {
        if (validatePassword2()) {
            pass2ele.css("border", "2px solid green");
            passMsg2.html("<p class='text-success'>Password validated</p>");
        } else {
            pass2ele.css("border", "2px solid red");
            passMsg2.html("<p class='text-danger'>Password not valid</p>");
        }
    });

    function validatePassword2() {
        const pass2Val = pass2ele.val();
        return pass2Val.length > 7;
    }
    </script>{#  end validate password2 #}
{% endblock javascript %}