{% extends 'base.html' %}


{% block content %}
    <h2>reset password</h2> {{ msg }}
    <form method="post" data-validate-email-url="{% url 'accounts:validate_email' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">request password reset</button>
    </form>
{% endblock %}
{% block javascript %}
    {#  check email #}
    <script>
        $('#id_email').on('keyup input',function CheckEmailReset() {    {# check email #}
            const email = $(this).val();
            const email_Ele = document.getElementById('id_email');
            const message_email = document.createElement("span");
            message_email.id = 'id_message_email';
            message_email.classList.add('classe_message_email');
            message_email.style = "display: none";
            email_Ele.parentNode.appendChild(message_email);
            const form = $(this).closest("form");
            $.ajax({
                url: form.attr("data-validate-email-url"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.email_exist) {
                        $('#id_message_email').text(data.error_message);
                        $("#id_message_email").css("display", "block");
                    } else {
                        $('#id_message_email').text(data.error_message);
                        $("#id_message_email").css("display", "block");
                    }
                }
            });
        });
    </script> {#  end check email #}
{% endblock javascript %}