{% extends 'base.html' %}
{% load static %}
{% block title %}register{% endblock title %}
{% block content %}
    <h2 id="h2">Django - Create User Sign Up</h2>
    <form method="post" id="id_form_register"
          data-validate-username-url="{% url 'accounts:validate_username' %}"
          data-validate-email-url="{% url 'accounts:validate_email_register' %}"
          novalidate>
        {% csrf_token %}
        {% include 'accounts/snippets/field.html' with field=form.username f_onfocusout="validateUserName()" %}<!--field username -->
        {% include 'accounts/snippets/field.html' with field=form.email f_onfocusout="validateEmail()" %}<!--field email -->
        {% include 'accounts/snippets/field_pw.html' with field=form.password1 %}<!--field password1 -->
        {% include 'accounts/snippets/field_pw.html' with field=form.password2 %}<!--field password2 -->
        <button type="submit" class="btn btn-primary btn-block">Sign up - register</button>
    </form>

    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}?{% now "U" %}">

{% endblock content %}

{% block javascript %}
    <script src="{% static 'accounts/js/register.js' %}"></script>
    {#    hide and show password#}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
        {#password1#}
        const eye1 = document.getElementById("ideye_password1");
        const eyeoff1 = document.getElementById("ideyeoff_password1");
        const password1 = document.getElementById("id_password1");
        eye1.addEventListener("click", () => {
            eye1.style.display = "none";
            eyeoff1.style.display = "block";
            password1.type = "text";
        });
        eyeoff1.addEventListener("click", () => {
            eyeoff1.style.display = "none";
            eye1.style.display = "block";
            password1.type = "password";
        });
        {#password2#}
        const eye2 = document.getElementById("ideye_password2");
        const eyeoff2 = document.getElementById("ideyeoff_password2");
        const password2 = document.getElementById("id_password2");
        eye2.addEventListener("click", () => {
            eye2.style.display = "none";
            eyeoff2.style.display = "block";
            password2.type = "text";
        });
        eyeoff2.addEventListener("click", () => {
            eyeoff2.style.display = "none";
            eye2.style.display = "block";
            password2.type = "password";
        });
    </script>
{% endblock javascript %}

