{% extends 'base.html' %}

{% block content %}
    <h2>Django - Create User Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up - register</button>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        password1 = document.getElementById('id_password1');{# password same or not #}
        password2 = document.getElementById('id_password2');
        message = document.createElement("span");
        message.id = 'message';
        message.classList.add('classemessage');
        message2 = message.cloneNode(true);
        password1.parentNode.appendChild(message);
        password2.parentNode.appendChild(message2);
        $('#id_password1, #id_password2').on('keyup', function () {     {# password same or not #}
            if ($('#id_password1').val() === $('#id_password2').val()) {
                $('#message,classemessage').html('password same').css('color', 'green');
            } else {# password same or not #}
                $('#message,classemessage').html('password not same').css('color', 'red');
        });
    </script> {# password same or not #}
    <style>.classemessage {background-color: #1bbb41;}</style>
{% endblock javascript %}